body {
    background-color: hsl(47, 88%, 63%);
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: "Figtree", sans-serif;
}

main {
    background-color: hsl(0, 0%, 100%);
    outline: black solid 1px;
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 3%;
    border-radius: 20px;
    width: 100%;
    max-width: 300px;
    overflow:hidden;
    gap:12px;
    box-shadow: 8px 8px 0px black;
}

h2 {
    background-color: hsl(47, 88%, 63%);
    border-radius: 4px;
    text-align: center;
    font-size: 18px;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 800;
}

p {
    font-size: 16px;
}

#yellow-image {
    border-radius: 16px;
    display: block;
    width:100%;
    max-width: 300px; 
}

.porfile {
    display: flex;
    gap: 12px;
    align-items: center;
}

#porfile-pic {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}

h1, h2, h3, p {
  margin: 0;
}

.content h1 {
  margin-bottom: 10px;
  font-size: 24px;
}

.content p {
  margin-bottom: 16px;
  line-height: 1.4;
  color: hsl(0, 0%, 50%);
}
